{
	env: {
		development: {
			presets: [
				['es2015', { modules: false }],
				'stage-0',
				'react',
			],
			plugins: [
				'react-hot-loader/babel',
				'transform-async-to-generator',
				'transform-flow-strip-types',
			],
		},
		production: {
			presets: [
				'es2015',
				'stage-0',
				'react',
			],
			plugins: [
				'transform-async-to-generator',
				'transform-flow-strip-types',
			],
		}
	},
}
