body {
	background-color: white;
  color: black;
  font-family: Arial;
  font-size: 100%;
  margin: 10%;
  -webkit-font-smoothing: antialiased;
}

@import 'components/Stepper/style.scss';
@import 'components/Stepper/Step/style.scss';
